:root{
    --backColor : rgb(255, 255, 240);
    --frontColor : rgb(36,0,36);
}

.info{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.tierlist{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.tier-label p{
    margin: 0;
}

.tier{
    width: 70%;
    border-bottom: 3px solid var(--frontColor);
    border-left: 3px solid var(--frontColor);
    border-right: 3px solid var(--frontColor);
}

.tier:first-child{
    border-top: 3px solid var(--frontColor);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
}

.tier:last-child{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}

.songs{
    display: flex;
}

.s{
    background-color: rgb(48, 208, 130) ;
}

.a{
    background-color: rgb(39, 174, 96);
}

.b{
    background-color: rgb(255, 165, 0);
}

.c{
    background-color: rgb(240, 140, 0);
}

.d{
    background-color: rgb(217, 83, 79);
    
}

.song, .tier-label {
    /* L'URL de l'image de la couverture */
    text-align: center;
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
    padding: 1%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.song{
    font-size: 1.5rem;
    color: var(--backColor);
}

.tier-label{

    border-right: 3px solid var(--frontColor);
}


.start{
    justify-content: center;
    text-align: center;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    border-bottom:3px solid var(--frontColor);
    border-left:3px solid var(--frontColor);
    border-right:3px solid var(--frontColor);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}

.start .songs{
    width: 100%;
    flex-wrap: wrap;
}

.start .songs .song{
    width: 7.092%;
}


.view{
    margin: .5%;
    color: var(--frontColor);
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;

    opacity: 1;
}

.view:hover{
    opacity: .8;
}

.editable-label {
    cursor: pointer;
    user-select: none;
    outline: none;
    padding: 0.5rem;
}

.editable-label:focus {
    border: 1px dashed var(--frontColor);
    background-color: rgba(0, 0, 0, 0.1);
}

.tier-label,
.song-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Empêche le débordement */
    word-wrap: break-word; /* Permet au texte de revenir à la ligne */
    white-space: normal; /* Autorise les retours à la ligne */
    font-size: 2rem; /* Taille initiale */
    line-height: 1.2;
}

.tier-label p,
.song-title {
    margin: 0;
    padding: 0;
    width: 100%; /* Adapte le texte à la largeur disponible */
    text-align: center;
}
